@model IEnumerable<EMEP.Models.Consulta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Medico)
           
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Consultorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          
            @Html.DisplayFor(modelItem => item.Medico.NombreCompletoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.descripcion)
        </td>
        <td style="text-align:center;">
               
             @Html.DisplayFor(modelItem => item.Consultorio.numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
