@model IEnumerable<EMEP.Models.Consulta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultorio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultorio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
