
@model PagedList.IPagedList<EMEP.Models.Consultorio>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAD.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Consultorio",FormMethod.Get))
{
    <p>
        Ingresar el dato: @Html.TextBox("buscar", ViewBag.filtroActual as string)
        <input type="submit" value="Buscar"/>
    </p>
}


<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("Descripción", "Index", new { dato=ViewBag.Descripcion1, filtro= ViewBag.filtroActual})
            
        </th>
        
        <th>
            
            @Html.ActionLink("Numero","Index", new { dato= ViewBag.Numero1, filtro = ViewBag.filtroActual})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
<br/>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, dato= ViewBag.actual, filtro = ViewBag.filtroActual }))

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


